.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
}

.josefin-sans-<uniquifier> {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

h1, h2, h3 {
  color: #ffffff;
}

p, ul, li {
  color: #333333;
}

a {
  color: #045c2f;
}

body {
  background-color: #f9f9f9;
}

header {
    background-color: #045c2f;
    color: #fff;
    padding: 24px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header img {
    width: 150px;
    height: auto;
    margin-bottom: 10px;
}

nav {
    margin-top: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin-right: 15px;
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 30px;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.8rem;
  margin-bottom: 15px;
}

p {
  margin-bottom: 15px;
}

ul {
  margin-bottom: 15px;
}

footer {
  background-color: #045c2f;
  color: #ffffff;
  padding: 10px;
  text-align: center;
}

h3 {
  color: #4caf50;
}

a:hover {
  color: #004d26;
}

a:visited {
  color: #4caf50;
}

.special {
  color: #f3e5b0;
  background-color: #045c2f;
}

#tips {
  text-align: center;
}

#tips h2 {
  color: #045c2f;
}

#tips p {
  color: #333333;
}

#tips ul {
  list-style-type: none;
  padding: 0;
}

#tips ul li {
  margin-bottom: 10px;
}

#tips ul li:before {
  content: "\2022";
  color: #045c2f;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

#challenges {
  text-align: center;
}

#challenges h2 {
  color: #045c2f;
}

#challenges p {
  color: #333333;
}

#challenges ul {
  list-style-type: none;
  padding: 0;
}

#challenges ul li {
  margin-bottom: 10px;
}

#challenges ul li:before {
  content: "\2022";
  color: #045c2f;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 100%;
    max-height: 300px;
}

.image-wrapper {
    text-align: center;
    margin-bottom: 30px;
}

.image-wrapper img {
    display: block;
    margin: 0 auto;
}

.image-wrapper p {
    margin-top: 10px;
}
